h1{
    background-color: cornsilk;
    text-align: center;
    color: black;
}
footer{
    text-align: center;
    text-size-adjust: 50px;
}
h2{
    background-color:lightsalmon;
    text-align: center;
    color: black;
}


